@use "utils" as u;

body {
  margin: auto;
  padding: 50px;
}

header {
  text-align: center;
}
.logo {
  margin: auto;
}

.searchbar-contain {
  margin: auto;
  width: 100%;
  background-color: u.$greyLight;
  margin: 0 !important;
  padding: 10px;
  border-radius: 5px;
}

.searchbar-contain input {
  background-color: transparent;
  border: none;
  outline: none;
}
.searchbar-contain button {
  background-color: transparent;
  border: none;
  margin: 0 !important;
}

.select-contain {
  width: 40%;
  margin: 0 !important;
  gap: 20px;
}

.tag-ingredient {
  background-color: u.$blue;
  border-radius: 5px;
}
.tag-appareils {
  background-color: u.$green;
  border-radius: 5px;
}
.tag-ustensiles {
  background-color: u.$orange;
  border-radius: 5px;
}
.option-contain-ingredient {
  width: auto;
  height: auto;
  padding: 25px 25px 25px 25px;
}
.option-contain-appareils {
  width: auto;
  height: auto;
  padding: 25px 25px 25px 25px;
}
.option-contain-ustensiles {
  width: auto;
  height: auto;
  padding: 25px 25px 25px 25px;
}
.option-contain-ingredient input {
  background-color: transparent;
  border: none;
  outline: none;
  color: u.$light;
  font-weight: 700;
}

.input-icone-contain {
  white-space: nowrap;
  flex-wrap: nowrap !important;
}
.icone-position {
  position: relative;
  right: 30px;
  color: u.$light;
  cursor: pointer;
}
.option-contain-appareils input {
  background-color: transparent;
  border: none;
  outline: none;
  color: u.$light;
  font-weight: 700;
}
.option-contain-ustensiles input {
  background-color: transparent;
  border: none;
  outline: none;
  color: u.$light;
  font-weight: 700;
}

.option-contain-ingredient input::placeholder {
  color: u.$light;
  opacity: 1;
  font-weight: 700;
}
.option-contain-appareils input::placeholder {
  color: u.$light;
  opacity: 1;

  font-weight: 700;
}
.option-contain-ustensiles input::placeholder {
  color: u.$light;
  opacity: 1;

  font-weight: 700;
}

.recipes-contain {
}

.recipes-article {
  font-size: small;
  line-height: 17px;
  margin-bottom: 40px;
  border-radius: 5px 5px 0px 0px;
}

.img-parent {
  background-color: u.$greyDark;
  margin: auto;
  height: 170px;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.description-recipe {
  margin: auto;
  background-color: u.$greyLight;
  padding: 20px;
}

.description-header {
  font-size: medium;
}

.header-title {
  font-size: 18px;
  font-weight: 700;
  padding: 0 !important;
}

.header__time-contain {
  font-size: large;
  font-weight: 700;
  text-align: end;
  white-space: nowrap;
}

.time {
}

.body-description {
}

.body-ingredient {
  height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.body-indication {
  height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.ingredientsContain {
}
.ingredient {
  white-space: nowrap;
  width: auto;
  font-weight: 700;
  margin: 0;
  padding: 0 !important;
}
.quantity {
  margin: 0;
  padding: 0 0 0 5px !important;
}
.unit {
  margin: 0;
  padding: 0 0 0 5px !important;
}
