body{
    background-color:#E1D5E7;
    max-width: 1200px;
    min-width: 900px;
    border: 5px solid #FF0000;
    margin:auto;
    padding:20px;
}

.pdfframe{
    width:100%;
}
.header-logo-intro{
    display:flex;
    justify-content:center;
    flex-direction: column;
    width:100%;
    background-color: white;
}
.logo-index-img{
    width:300px;
    align-self: center;
}
.logo-index{
    width:320px;
    align-self: center;

}
.menu{
    width:100%;
    display:flex;
    justify-content: space-between;
    white-space: nowrap;
}
.algo-img{
    object-fit:contain;
    width:100%;
    height:100%;
}
.text{
    text-align:center;
    font-size: medium;
    font-family: "Lato", sans-serif;
    font-weight: 700;

}

.menu-link{
    color:#FF0000;
    font-weight: 700;
    font-size: 24px;
    text-decoration:none;
    font-family: "Lato", sans-serif;

}
.menu-link:hover{
    color:white;
}